<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG1mIS4TZSXGc-9DFm-hlv9cGR4wSM7T4</string>
	<key>GCM_SENDER_ID</key>
	<string>217858003094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IMT.ALP-Rawr</string>
	<key>PROJECT_ID</key>
	<string>mad-alp-rawr</string>
	<key>STORAGE_BUCKET</key>
	<string>mad-alp-rawr.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217858003094:ios:25f8ae01fba667fb88b2b7</string>
	<key>DATABASE_URL</key>
	<string>https://mad-alp-rawr-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>